*sif
*pyc
deps/clhep
deps/cry
deps/geant4
deps/globes
deps/gsl
deps/lhapdf
deps/log4cpp
deps/pythia6
deps/root
deps/genie

CMakeCache.txt
CMakeFiles/
Makefile
chips/CMakeFiles/
chips/Makefile
chips/cmake_install.cmake
cmake_install.cmake

data/geant4/
data/genie/xsecs*